#autor {
  border-top: 1px solid $light-gray;
  h3 {
    font-family: $headings-font-family;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
  }
  .author-img {
    img {
      border-radius: 100%;
    }
  }
}
.entrada {
  &__descripcion__links {
    font-size: 1.4em;
  }
}
.autor {
  &__descripcion {
    font-size: 0.9em;
    color: $nickel;
  }
}
