// Colors
$font-color: #001514;
$font-light: #858585;
$cyan: #92dce5;
$red: #ef6461;

// Typography
$font-family-sans-serif: Montserrat, sans-serif;
$font-size: 14px;

// Bootstrap overrides
$h1-font-size: 1.65rem;
$h2-font-size: 1.2rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;
$headings-font-weight: 700;
