.newsletter {
  width: 100%;
  text-align: center;
  .container {
    background-color: #f2f4f5;
    padding: 30px 0;
  }
  h2 {
    font-size: 24px;
    padding: 0.5em;
  }
  &__input {
    padding: 1em;
    input,
    button {
      @extend %button;
    }
    button {
      background-color: coral;
      color: white;
    }
  }
}
